<template>
  <style>
    :host {
      display: flex;
      contain: content;
      min-width: 4rem;
      min-height: 6rem;
      background: dimgrey;
      align-content: center;
      justify-content: center;
    }

    .date {
      padding: 1rem;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
    }

    .timeline {
      flex: auto;
      display: flex;
      align-content: center;
      flex-direction: row;
      justify-content: space-around;
    }

    .timeline > hr {
      margin: 0;
      height: 100%;
      padding: 0;
      border: none;
      border-left: 2px dotted black;
    }

    @media screen and (pointer: fine) {
      :host {
        min-height: 3rem;
      }
    }
  </style>

  <div class="date">??/??</div>
  <div class="timeline"></div>
</template>

<script>
  window.WebComponents.templates['workday-timeline'] =
    document.currentScript.previousElementSibling
</script>

<script type="module" async src="component.js"></script>
<script type="systemjs-module" src="component-system.js"></script>
