<template>
  <style>
    :host {
      width: 10px;
      height: 10px;
      display: flex;
      contain: content;
      background: red;
    }
  </style>
  <div></div>
</template>

<script>
  'use strict'

  class HoursTimeline extends HTMLElement {
    // Constructor can't be used reliably in polyfill'ed custom elements

    connectedCallback() {
      // ShadyCSS need to be called for every custom element when it is connected
      window.ShadyCSS && ShadyCSS.styleElement(this)

      if (!this.shadowRoot) {
        this.attachShadow({ mode: 'open' })
        this.shadowRoot.appendChild(document.importNode(HoursTimeline.template.content, true))
      }
    }

    disconnectedCallback() {
      // TODO: Element clean-up
    }

    attributeChangedCallback(attrName, oldVal, newVal) {}
  }

  // Save reference to element's template
  HoursTimeline.template = document.currentScript.previousElementSibling
  // Save reference to element class in global registry
  window.WebComponents.registry['hours-timeline'] = HoursTimeline
</script>

<script
  src="helpers/register.js"
  type="text/javascript"
  async
  data-element-name="hours-timeline"
></script>
