<template>
  <style>
    :host {
      display: flex;
      contain: content;
    }
  </style>
  <div></div>
</template>

<script>
  ;(() => {
    "use strict"

    // Save reference to element's template
    const template = document.currentScript.previousElementSibling

    // Element initialization
    const init = () => {
      window.ShadyCSS && ShadyCSS.prepareTemplate(template, "hours-timeline")

      class HoursTimeline extends HTMLElement {
        // Constructor can't be used reliable in polyfill'ed custom elements
        connectedCallback() {
          window.ShadyCSS && ShadyCSS.styleElement(this)
          if (!this.shadowRoot) {
            this.attachShadow({ mode: "open" })
            this.shadowRoot.appendChild(document.importNode(template.content, true))
          }
        }

        disconnectedCallback() {
          // TODO: Element clean-up
        }

        attributeChangedCallback(attrName, oldVal, newVal) {}
      }

      // Register custom element
      customElements.define("hours-timeline", HoursTimeline)
    }

    // Add init to correct listener
    ;(window.WebComponents && WebComponents.waitFor && (WebComponents.waitFor(init) || true)) ||
      document.addEventListener("WebComponentsReady", init)
  })()
</script>
