<template>
  <style>
    :host {
      display: flex;
      contain: content;
      min-width: 4rem;
      min-height: 1.5rem;
      background: dimgrey;
    }

    .date {
      padding: 1rem;
    }

    .timeline {
      flex: auto;
      display: flex;
      justify-content: space-around;
    }

    .timeline > hr {
      margin: 0;
      height: 100%;
      padding: 0;
      border: none;
      border-left: 2px dotted black;
    }
  </style>

  <div class="date">??/??</div>
  <div class="timeline"></div>
</template>

<script>
  window.WebComponents.templates['hours-timeline'] = document.currentScript.previousElementSibling
</script>

<script type="module" async src="component.js"></script>
